
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Plus Jakarta Sans", sans-serif;
    background-color: #FAFAFA;
}

.large-text{
    font-size: 64px;
    font-weight: 700;
    line-height: 78px;
}

::-webkit-scrollbar{
    width: 10px;
    height: 5px;
}
::-webkit-scrollbar-thumb{
    background-color: #F44335;
}
.nav-item{
    cursor: pointer;
}
.nav-item:hover{
    color: #F44335;
}